#search-bar{
    width: 30%;
    padding: 0.5em;
    font-size: large;
}

#results {
    display: flex;
    width: 30%;
    max-height: 20em;  /* Upper limit */      /* Allows dynamic scaling */
    margin: auto;
    padding: 0.5%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid black;
    overflow-y: auto;   /* Enables scrolling when max height is reached */
}

.result{
    width: 100%;
    text-align: left;
}

.result:hover{
    cursor: pointer;
    background-color: beige;
}