#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

[data-theme="light"]{
  --bg-color:#ffffff;
  --text-color:#333333;
  --heading-color:#444444;
}

[data-theme="dark"]{
  --bg-color:#333333;
  --text-color:#ffffff;
  --heading-color:#dddddd;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1{
  color:var(--heading-color)
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.hovered{
  background-color: yellow;
}

.game{
  max-width: calc(3*100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status{
font-size: 20px;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.board{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
}

.cell{
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 2px solid #cccccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover{
  background-color: #c3bdbd;
}

.reset{
  padding:5px 10px
}

.question{
  margin:20px auto;
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.question h2{
  margin-bottom: 10px;
}

.projects{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px; 
}

.options{
list-style: none;
padding: 0;
display: grid;
grid-template-columns: auto auto;
gap: 10px; 
}

.option button{
 width: 100%;
 border-radius: 5px;
 padding: 10px 20px;
}

.results{
margin: 20px auto;
width: 100%;
padding: 15px;
border: 1px solid #ddd;
border-radius: 5px;
}

.results ul{
  list-style: none;
  padding: 0;
}


.results li{
  margin-bottom: 10px;
}

.results li[data-correct="true"]{
  color: green;
}

.results li[data-correct="false"]{
  color: red;
}

.switch label{
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  margin-left: 10px;
}

.switch .slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.switch input:checked + .slider{
background-color: #2196f3;
}

.switch .slider:before{
  position: absolute;
  content: "";
  height: 18px;
  width: 16px;
  left: 2px;
  right: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider:before{
transform: translateX(20px);
}